# caches e lixo
*.log
*.cache
*.tmp

# estados de apps
state
session

# segredos
.env
secrets
tokens

# lazy nvim
.repro.lua
lazy-lock.json


# Shaders cache directory
mpv/shaders/cache
mpv/.DS_Store
