@define-color bg #282a36;
@define-color curr #44475a;
@define-color fg #f8f8f2;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color comment #6272a4;
@define-color yellow #ffd45e;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: alpha(@bg, 0.95);
    color: @fg;
    border-bottom: 2px solid @purple;
}

#custom-launcher, #workspaces, #mpris, #window, 
#backlight, #pulseaudio, #memory, #cpu, #battery, #clock {
    padding: 0 10px;
}

/* Cores tema Dracula */
#cpu { color: @orange; }
#memory { color: @green; }
#pulseaudio { color: @cyan; }
#battery { color: @pink; }

#clock {
    color: @bg;
    background: @purple;
    padding: 0 15px; 
    margin-left: 5px;
}

#workspaces button.active {
    color: @pink;
    background: alpha(@pink, 0.1);
}

#custom-launcher {
    color: @cyan;
    background: @curr;
}

/* Divisores */
#pulseaudio, #memory, #cpu, #battery {
    border-left: 1px solid alpha(@comment, 0.2);
}

#pulseaudio, #pulseaudio.input {
    transition: all 0.1s ease-in-out;
}

#pulseaudio:hover, #pulseaudio.input:hover {
    background-color: alpha(@curr, 0.5);
}

#backlight {
    color: @yellow;
    padding: 0 10px;
    border-left: 1px solid alpha(@comment, 0.2);
    transition: all 0.2s ease;
}

#backlight:hover {
    background-color: alpha(@yellow, 0.1);
    color: #ffffff; /* Fica branco ao passar o mouse */
}
