/* Cores One Dark Pro */
@define-color bg #282c34;
@define-color fg #abb2bf;
@define-color blue #61afef;
@define-color purple #c678dd;
@define-color green #98c379;
@define-color red #e06c75;
@define-color orange #d19a66;
@define-color gray #3e4452;

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", "Roboto";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: transparent; /* Deixa a barra flutuando */
}

/* Estilo Geral dos Módulos */
#workspaces, #clock, #battery, #pulseaudio, #backlight, #network, #cpu, #memory, #tray {
    background: alpha(@bg, 0.85); /* Transparência suave */
    color: @fg;
    padding: 0px 12px;
    margin: 4px 3px;
    border-radius: 8px;
    border: 1px solid alpha(@gray, 0.5);
}

/* Customização Específica */
#workspaces button {
    color: @gray;
    padding: 0 4px;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.urgent {
    color: @red;
}

#clock {
    color: @purple;
    border-bottom: 2px solid @purple;
}

#cpu { color: @green; }
#memory { color: @orange; }

#battery.charging { color: @green; }
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio { color: @blue; }
#network { color: @orange; }

@keyframes blink {
    to {
        background-color: @red;
        color: @bg;
    }
}
